{{>breadcrumb}}
<h1>{{title}}</h1>
{{!-- <ul>
  <li>{{aluno.nome}}</li>
  <li>{{aluno.email}}</li>
  <li>{{aluno.matricula}}</li>
  <li>{{aluno.data_nascimento}}</li>
</ul> --}}
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{aluno.nome}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{aluno.email}}</h6>
    <p class="card-text">(Campo opcional) Espaço reservado para colocar uma breve descrição do aluno.
    </p>
    <a class="{{aluno.data_nascimento}}" class="card-link">Data de Nascimento</a>
    <a class="{{aluno.matricula}}" class="card-link">Matricula</a>

    <a href="/alunos/edit/{{aluno.matricula}}">Editar </a>

    <form action="/alunos/{{aluno.matricula}}" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <button type="submit" id="submit" class="btn btn-danger">Remover
        <i class="bi bi-pencil-square"></i>
      </button>
    </form>


  </div>
</div>