<h1>{{title}}</h1>

<form action="/alunos/{{parametro}}" method="POST">
    <input type="hidden" name="_method" value="{{metodo}}">

    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Nome</label>
        <input type="text" name="Nome" class="form-control" value="{{aluno.nome}}">
    </div>

    <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Matricula</label>
        <input type="text" name="Matricula" class="form-control" value="{{aluno.matricula}}">
    </div>

    <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Data de nascimento</label>
        <input type="text" name="Data de nascimento" class="form-control" value="{{aluno.data_nascimento}}">
    </div>

    <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Endereço de E-mail</label>
        <input type="text" name="E-mail" class="form-control" value="{{aluno.email}}">
    </div>

    <input type="submit" id="submit" value="Criar aluno">

</form>