<h1>{{title}}</h1>
<form action="/alunos/{{parametro}}" method="POST">
  <input type="hidden" name="_method" value="methodo">
  <div class="mb-3">
  <label class="form-label">Nome</label>
  <input type="text" name="nome" class="form-control" value="{{aluno.nome}}" placeholder="Nome do Aluno ">
</div>
<div class="mb-3">
  <label class="form-label">Matricula</label>
  <input type="text" name="matricula" class="form-control" value="{{aluno.matricula}}" placeholder="Numero de matricula do Aluno" minlength="9" maxlength="10">
</div>
<div class="mb-3">
  <label class="form-label">Data de Nascimento</label>
  <input type="date" name="data_nascimento" class="form-control" value="{{aluno.data_nascimento}}">
</div>
<div class="mb-3">
  <label class="form-label">Email</label>
  <input type="email" name="email" class="form-control" value="{{aluno.email}}" placeholder="Digita o E-mail do Aluno">
</div>
<input type="submit" id="submit" value="{{buttonText}}" >
</form>