<h1>{{title}}</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Matricula</th>
            <th scope="col">Nome</th>
            <th scope="col">Data de Nascimento</th>
            <th scope="col">Enderenço de email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each alunos}}
        <tr>
            <th>{{matricula}}</th>
            <td><a href="/alunos/{{matricula}}">{{nome}}</a></td>
            <td>{{data_nascimento}}</td>
            <td>{{email}}</td>
            <td><a href="/alunos/edit/{{matricula}}">Editar</a></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<a href="/alunos/new">Adicionar aluno</a>