<h1>{{title}}</h1>

{{#each alunos.content}}

<ul>
    <li><b>Nome:</b><a href="/alunos/{{matricula}}">{{nome}}</a></li>
    <li><b>Matricula::</b>{{matricula}}</li>
    <li><b>Data de nascimento:</b>{{data_nascimento}}</li>
    <li><b>endereço de email:</b>{{email}}</li>
</ul>

{{/each}}